<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <setting name="Indexing.UpdateInterval" >
        <patch:attribute name="value">00:00:00</patch:attribute>
      </setting>
      <setting name="BucketConfiguration.ItemBucketsEnabled" >
        <patch:attribute name="value">false</patch:attribute>
      </setting>
      <setting name="Publishing.MaxDegreeOfParallelism">
        <patch:attribute name="value">8</patch:attribute>
      </setting>
    </settings>
    <pipelines>
      <publish>
        <!-- This processor performs parallel processing of publishing candidates.
             The Publishing.MaxDegreeOfParallelism setting specifies how many concurrent operations can be run. -->
        <processor type="Sitecore.Publishing.Pipelines.Publish.ProcessQueue, Sitecore.Kernel">
          <patch:attribute name="type">Sitecore.Publishing.Pipelines.ParallelPublish.ParallelProcessQueue,Sitecore.Kernel</patch:attribute>
        </processor>
      </publish>
    </pipelines>
  </sitecore>
</configuration>